<section id="address" class="contact-section bg-black" style="background-image: url(http://farm4.staticflickr.com/3749/32860157674_d0923c71d1_o.jpg); background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fa fa-map-marker text-success mb-2 fa-2x"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">
                            <a href="https://www.google.com/maps/place/%C4%90%E1%BA%A7m+V%E1%BA%A1c,+%C4%90%E1%BB%91ng+%C4%90a,+V%C4%A9nh+Y%C3%AAn,+V%C4%A9nh+Ph%C3%BAc,+Vi%E1%BB%87t+Nam/@21.3053078,105.5907368,15z/data=!4m13!1m7!3m6!1s0x3134faab8d5e0729:0x3b4cd283251a710f!2zxJDhu5FuZyDEkGEsIFRwLiBWxKluaCBZw6puLCBWxKluaCBQaMO6YywgVmnhu4d0IE5hbQ!3b1!8m2!3d21.3063049!4d105.6031342!3m4!1s0x3134faadd51c82d9:0x71effda7778c495d!8m2!3d21.3038888!4d105.5994219">Đống Đa, Vĩnh Yên, Vĩnh Phúc</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fa fa-envelope text-danger mb-2 fa-2x"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">
                            <a href="http://anhthanh1996vp@gmail.com">anhthanh1996vp@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fa fa-mobile-phone text-info mb-2 fa-2x"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">
                            <a href="tel://0981931916">+84 981.931.916</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>