<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Post</title>
 
</head>

<body>
    <div class="container-fuild">
        <div>
            <%- include ../layout/nav%>
        </div>
        <div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-login">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h3>Add new project</h3>
                                </div>
                                <div>
                                    <div>
                                        <div>
                                            <%if(err){%>
                                                <div id="login-alert" class="alert alert-danger col-sm-12">
                                                    <%= err%>
                                                </div>
                                                <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form action="" method="post" role="form">
                                        <div class="form-group">
                                            <input type="text" name="title" tabindex="1" class="form-control" placeholder="Tiêu đề">
                                        </div>
                                        <div class="form-group">
                                            <textarea type="text" name="intro" tabindex="1" class="form-control" placeholder="Giới thiệu"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <textarea type="text" name="description" tabindex="1" class="form-control" placeholder="description"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <textarea type="text" name="link_project" tabindex="1" class="form-control" placeholder="Link project"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <textarea type="text" name="link_images" tabindex="1" class="form-control" placeholder="Link images"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 col-sm-offset-3">
                                                    <input type="submit" tabindex="4" class="form-control btn btn-success" value="Add new project">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>