<!-- Icon Cards-->
<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-users"></i>
                </div>
                <div class="mr-5"> <% if(data && data[0]){%>
                    <%= data[0].length%>
                <%}%> User</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="/admin/users/">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-warning o-hidden">
            <div class="card-body">
                <div class="card-body-icon">
                     <i class="fa fa-css3"></i>
                </div>
                 <div class="mr-5"> <% if(data && data[0]){%>
                    <%= data[1].length%>
                <%}%> Skill</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="/admin/skills/">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-success o-hidden">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-folder-open"></i>
                </div>
                <div class="mr-5"> <% if(data && data[0]){%>
                    <%= data[2].length%>
                <%}%> Project</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="/admin/projects/">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-danger o-hidden">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-arrow-circle-up"></i>
                </div>
                <div class="mr-5"> <% if(data && data[0]){%>
                    <%= data[3].length%>
                <%}%> Post</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="/admin/posts/">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
</div>