<header class="masthead" style="background-image: none">
  <div class="container-fuild">
    <div id="wowslider-container1">
      <div class="ws_images">
        <ul>
          <li>
            <img src="/static/imgs/slider/slider1.jpg" alt="slider1" title="slider1" id="wows1_0" />
          </li>
          <li>
            <a href="http://wowslider.net">
              <img src="/static/imgs/slider/slider2.jpg" alt="slider jquery" title="slider2" id="wows1_1" />
            </a>
          </li>
          <li>
            <img src="/static/imgs/slider/slider3.jpg" alt="slider3" title="slider3" id="wows1_2" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>