<header class="masthead" >
  <div class="container-fuild" style="background-image: auto !important">
    <div id="wowslider-container1">
      <div class="ws_images">
        <ul>
          <li>
            <img src="/static/imgs/slider/slider1.jpg" title="" alt="slider1"  id="wows1_0" />
          </li>
          <li>
              <img src="/static/imgs/slider/slider2.jpg" title=""  alt="slider jquery" id="wows1_1" />
          </li>
          <li>
            <img src="/static/imgs/slider/slider3.jpg" title=""  alt="slider3"  id="wows1_2" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>