<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat Message</title>

    <%-include ../blog/layout/head%>

        <style>
            body {
                margin: 0 auto;
                max-width: 800px;
                padding: 0 20px;
            }

            .container {
                border: 2px solid #dedede;
                background-color: #f1f1f1;
                padding: 10px;
                margin: 10px 0;
            }

            .darker {
                border-color: #ccc;
                background-color: #ddd;
            }

            .container::after {
                content: "";
                clear: both;
                display: table;
            }

            .container img {
                float: left;
                max-width: 60px;
                width: 100%;
                margin-right: 20px;
            }

            .container img.right {
                float: right;
                margin-left: 20px;
                margin-right: 0;
            }

            .time-right {
                float: right;
                color: #aaa;
            }

            .time-left {
                float: left;
                color: #999;
            }
        </style>
</head>

<body>

    <h2>Chat Messages</h2>
    <ul id="conversation">

    </ul>
    <div class="container">
        <img src="https://pre00.deviantart.net/dc1c/th/pre/i/2014/265/0/0/chibi_zoro_by_phantomred17-d807b3w.png" alt="Avatar" style="width:100%;">
        <p>Hello. How are you today?</p>
        <span class="time-right">11:00</span>
    </div>

    <div class="container darker">
        <img src="https://myanimelist.cdn-dena.com/images/userimages/281513.jpg" alt="Avatar" class="right" style="width:100%;">
        <p>Hey! I'm fine. Thanks for asking!</p>
        <span class="time-left">11:01</span>
    </div>

    <div class="panel-footer">
        <div class="input-group">
            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
            <span class="input-group-btn">
                <button style="padding: 11px" class="btn btn-success btn-sm" id="btn-chat">
                    Send</button>
            </span>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- sử dụng thư viện socket io để kết nối client lên server -->
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script type="text/javascript">
        let socket = io.connect("http://localhost:8000")

        //Thông báo đã connect đến server
        socket.on("connect", () => {
            console.log("User is connecting to server")

            //Sự kiện hỏi tên người dùng khi connect đến server
            let username = prompt("What is your name?")

            //emit là hàm gửi dữ liệu bằng 1 sự kiện
            //Gửi username bằng sự kiện adduser
            socket.emit("adduser", username)

            console.log(data)
            //Lắng nghe update_message event

            socket.on("update_message", data => {
                $("#conversation").append(`<li><b> ${data.sender}: </b> ${data.message}</li>`)
            })
        })
    </script>
</body>

</html>