<section class="container-fuild">
    <div style="background-image: url(https://i.quantrimang.com/photos/image/2018/01/10/hinh-nen-4k-4.jpg); background-size: cover; min-height: 500px;background-repeat: no-repeat; background-attachment: fixed; background-position: 50%;">
        <div class="w3-display-middle">
            <span class="w3-xxlarge w3-text-white w3-wide">Vùng Đất Mới</span>
        </div>
    </div>
</section>

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
    <div class="my-auto">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">skills</h2>
            <h3 class="section-subheading text-muted">Một số ngôn ngữ lập trình và framework tôi đã sử dụng.</h3>
        </div>

        <ul class="skills list-inline list-icons text-center">
            <%if(data && data[0]){%>
                <% data[0].forEach(skill=>{%>
                    <li class="list-inline-item">
                        <i data-toggle="tooltip" data-placement="bottom" title="<%= skill.title%>" class="<%= skill.html_icon%> fa-3x"></i>
                    </li>
                    <%})%>
                        <%}%>
        </ul>
    </div>
</section>